<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
  <li class="breadcrumb-item active"><%= 'About Us' %></li>
</ol>

<h1> About Raffler </h1>
<hr>

<h2>Who we are</h2>
<p>Raffler is where the world goes to shop, sell, and give. Our mission is to be the world’s favorite destination for discovering great value and unique selection.</p>

<h2>What we do</h2>
<p>Whether you are buying new or used, plain or luxurious, commonplace or rare, trendy or one-of-a-kind – if it exists in the world, it probably is for sale on Raffler. Our mission is to be the world’s favorite destination for discovering great value and unique selection.
<br><br> We give sellers the platform, solutions, and support they need to grow their businesses and thrive. We measure our success by our customers' success.</p>

<h2>What sets us apart</h2>
<p>Our vision for commerce is one that is enabled by people, powered by technology, and open to everyone.</p>

<h2>We empower people and create economic opportunity.</h2>
<p>We focus on partnering with our sellers, not competing with them. We are building stronger connections between buyers and sellers with product experiences that are fast, mobile, and secure. And we are transforming the individual selling experience to help you turn the things you no longer need into cash you can use.</p>

<br>
<%= link_to 'Back', root_path, class: "btn btn-primary btn-md" %>
<br><br>

<!-- Address placeholder -->
<address>
  <strong>Raffler ©</strong><br>
  8/120 Spencer St,<br>
  Melbourne VIC 3000<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Raffler Notifications</strong><br>
  <a href="mailto:#">rafflernotifications@gmail.com</a>
</address>
