<h1>Welcome to RAFFLER online</h1>
<% if (user_signed_in?) %>
  <h2>It's great to see you again, <%= current_user.profile.first_name %>!</h2>
  <p>Please feel free to roam around the website</p>
  <strong>What is Raffler?</strong>
<% end %>
