<h1>Welcome to Raffler!</h1>

<%= link_to 'What is Raffler?', 'https://1drv.ms/p/s!AtM30fNCNt04mhfA-JqnUmBgtnfK' %>

<h3><%= link_to 'Sign Up', new_user_registration_path  %></h3>
<h3><%= link_to 'Login', new_user_session_path  %></h3>
