<h1> <%= link_to 'Raffler', items_path %> </h1>

<% if user_signed_in? %>
  <small>You are currently signed in as: <strong><%= @user.email %></strong></small>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>

<hr />
